<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ pageTitle }}!
  </h1>
</div>
<ul>
  <li *ngFor="let example of examples"> ticket name is <span (click)='exampleMethod()' style="font-size:24px;">{{example.ticketName}}</span> $ {{example.ticketPrice}} , <br> and there are {{example.ticketQuantity}} tickets remaining</li>
</ul>
<h2>today is {{month}}{{day}}{{year}} </h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aliquid ad iure? Dolore aliquid consequatur molestiae dolorum doloremque facere officia perspiciatis nostrum illum provident sit accusamus, similique obcaecati atque quos.</p>
<router-outlet></router-outlet>
